@import "tailwindcss";

@theme {
	--animate-slide-down: slide-up 0.5s ease-out forwards;

	@keyframes slide-down {
		0% {
			transform: translateY(-30px);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

body {
	@apply bg-slate-900 text-white font-sans antialiased overflow-hidden selection:bg-pink-500 selection:text-white;
	margin: 0;
	display: flex;
	min-height: 100vh;
	min-width: 100vw;
	background: radial-gradient(circle at center, #1e293b 0%, #0f172a 100%);
}

#app {
	width: 100%;
	height: 100%;
}
